<footer class="footer">
  <small>
    <%= t ".sun_asterisk" %> </br>
    <%= t ".project_1" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about_us"),"#"%></li>
    </ul>
  </nav>
</footer>
